<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/events}">Events</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-10"><h2></h2></div>
        <div class="col-2"><a th:href="@{/events/add}" class="btn btn-outline-success">Add</a></div>

    </div>
    <div class="row">
        <div class="col-10"><h2></h2></div>
        <div class="col-2"><a th:href="@{/participants/add}" class="btn btn-outline-success">Participant</a></div>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>EventType</th>
            <th>Price</th>
            <th>Date</th>
            <th>Participant Limit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Sample data -->
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"/>
            <td th:text="${event.name}"/>
            <td th:text="${event.eventType}"/>
            <td th:text="${event.price}"/>
            <td th:text="${event.date}"/>
            <td th:text="${event.participantLimit}"/>
            <td>
                <a th:href="@{/events/view/{id}/(id=${event.id})}" class="btn btn-primary btn-sm">Open</a>
                <a th:href="@{/events/update/{id}/(id=${event.id})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/events/{id}/(id=${event.id})}" class="btn btn-danger btn-sm">Delete</a>

            </td>

        </tr>

        </tbody>

    </table>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
